[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = kirkstone
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = kirkstone
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "meta-embedded-containers"]
	path = meta-embedded-containers
	url = git@github.com:homeland-social/meta-embedded-containers.git
	branch = kirkstone
